<div class="row">
  <div class="col-md-6">
    <h2>Blog Posts</h2>

    <ul>
      {{#each model.posts as |post|}}
        {{post-tile post=post}}
      {{/each}}
    </ul>

    <h2> All Comments </h2>

    <ul>
      {{#each model.comments as |comment|}}
        <li>{{comment.content}} - by {{comment.author}}</li>
      {{/each}}
    </ul>

    {{new-comment saveComment="saveComment"}}

  </div>
  <div class="col-md-6">
    <h2>Write New Post</h2>

    {{new-post savePost="savePost"}}

  </div>
</div>
